<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Solution.DAL.Properties.Settings.ProyectoHorusConnectionString"
            connectionString="Data Source=.;Initial Catalog=ProyectoHorus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Solution.DAL.Properties.Settings.ProyectoHorusConnectionString1"
            connectionString="Data Source=DESKTOP-CBIS11F\SQLEXPRESS01;Initial Catalog=ProyectoHorus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>